<app-navigation title='Profile'></app-navigation>
    <div class='profile-container'>
    <div class='content-container'>
        <mat-card class="example-card">
        <mat-card-header>
            
            <mat-card-title>Vyron Yepes Eligue</mat-card-title>
            <mat-card-subtitle>Information Technology</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <img src="https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.6435-9/38513901_1814113365344013_2961797606096764928_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeHt8nm2EQwtXX834xJQKxvVsWuvqsFyShmxa6-qwXJKGe6qnEGFQNmOl4Mt2BWcUeDohQcvTILhKrLdtWsPm_rm&_nc_ohc=V9LY2tcJUVcAX-U1EWr&_nc_ht=scontent.fmnl4-2.fna&oh=23dd84f24bba200ed67e1bd99cda4c73&oe=61A07CB6" alt="Danimar Yanuario" title="Danimar Yanuario">
            <mat-list>
            <mat-list-item>
                
                <p>Name: Eastern Visayas State University - Main</p>
            </mat-list-item>

            <mat-list-item>
                
                <p>Course: BSIT</p>
            </mat-list-item>

            <mat-list-item>
                
                <p>Age: 21</p>
            </mat-list-item>

            <mat-list-item>
            
                <p>Address: Brgy.Licod Tanauan, Leyte</p>
            </mat-list-item>

            <mat-list-item>
               
                <p>Contact Number: 09983363950</p>
            </mat-list-item>

            </mat-list>
        </mat-card-content>
        </mat-card>
    </div>
    </div>