<app-navigation title='Home'></app-navigation>

<div class='home-container'>
  <div class='content-container'>
    <img src="https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.6435-9/143241601_2795007100815889_2324222089728397101_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFiJzbMk4I1OKiqZWfBmHqyDopOyNWDdakOik7I1YN1qS9hYSDFoufLQI5Zl0kQvGvHEGDczm_HRbe9IUxk4044&_nc_ohc=JtGfu3yfWEwAX_Rky2f&tn=aD1AB3BEP45gUjzs&_nc_ht=scontent.fmnl4-2.fna&oh=2633fa035e31a529651c5c94414bd723&oe=61A148FC" alt="animate" />
    <div class='text-container'>
      <h1>Vyron Eligue! From BSIT - 3D</h1>
      <p>
          Hello my name is Vyron I am currently  3rd year in Eastern Visayas State University i chose Information 
          Technology beacuse when i was a kid i liked video games when i finish my student i want to build a games that i like.
      </p>
    </div>
  </div>
</div>